<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <title>Experiment Explorer</title>

        <!-- socketio -->
	    <script type="text/javascript" src="{{ url_for('explorer.static', filename='socket.io.js')}}"></script>

        <!-- jquery -->
        <link rel="stylesheet" href="{{ url_for('explorer.static', filename='jquery/ui/jquery-ui.css')}}">
        <script type="text/javascript" src="{{ url_for('explorer.static', filename='jquery/jquery-1.10.2.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('explorer.static', filename='jquery/ui/jquery-ui.js')}}"></script>

        <!-- Knockout -->
        <script type="text/javascript" src="{{ url_for('explorer.static', filename='knockout-3.1.0.js')}}"></script>

	<!-- Highcharts -->
	<script type="text/javascript" src="{{ url_for('explorer.static', filename='highcharts/js/highcharts.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('explorer.static', filename='highcharts/js/modules/downsample/highcharts-downsample.js')}}"></script>
	
        <!-- JS Tree -->
	<script type="text/javascript" src="{{ url_for('explorer.static', filename='jsTree/jstree.js')}}"></script>
	<link rel="stylesheet" href="{{ url_for('explorer.static', filename='jsTree/themes/default/style.min.css')}}">
	
	<!-- App JS -->
        <script type="text/javascript" src="{{ url_for('explorer.static', filename='explorer.js')}}"></script>

	<!-- Fonts -->
	<link href="{{ url_for('explorer.static', filename='font-awesome/css/font-awesome.min.css')}}" rel ="stylesheet">
	
         <!-- App CSS -->
        <link rel="stylesheet" href="{{ url_for('explorer.static', filename='explorer.css')}}">


    </head>
    <body>
        <div id="SelectExperimentsDialog" title="Select Files" style="float: left;">
            <div style="width: 700px;">
                <p>There are <span data-bind='text: items().length'>&nbsp;</span> experiments.</p>
                <div class = 'experimenttablediv' style = 'background:#FFF4F6;'>
                    <p style="margin-left: 30px;">Experiment Directories</p>
                    <div class='scroll'>
                        <table data-bind='visible: items().length > 0' style='width: 100%;'>
                            <tbody data-bind='foreach: items'>
                                <tr>
                                    <td data-bind='text: item.name, click: $parent.select, css: selectedCSS' class='donthighlight expDir'></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="LHTabs" style="width: 15%;float: left;">
                <div id="folder_tree"><</div>
		<div id="avg" data-bind='visible: div_visible'>
		    Filter: <input type="text" data-bind="value: filter_input" style="width: 180px;">
                    <div class = 'filetablediv' style = 'background:#FFF4F6;'>
                        <p style="margin-left: 5px;">Files</p>
                        <div class='scroll'>
                            <table data-bind='visible: items().length > 0' class = 'filetable'>
                                <tbody data-bind='foreach: items'>
                                    <tr>
                                        <td data-bind='text: item.name, click: $parent.send, css: selectedCSS, visible: visible' class='donthighlight expDir'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="analysis" data-bind='visible: div_visible'>
		    <input type="text" data-bind="value: filter_input">
                    <div class = 'filetablediv' style = 'background:#FFF4F6;'>
                        <p style="margin-left: 5px;">Files</p>
                        <div class='scroll'>
                            <table data-bind='visible: items().length > 0' class = 'filetable'>
                                <tbody data-bind='foreach: items'>
                                    <tr>
                                        <td data-bind='text: item.name, click: $parent.send, css: selectedCSS, visible: visible' class='donthighlight expDir'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="manual" data-bind='visible: div_visible'>
		    <input type="text" data-bind="value: filter_input">
                    <div class = 'filetablediv' style = 'background:#FFF4F6;'>
                        <p style="margin-left: 5px;">Files</p>
                        <div class='scroll'>
                            <table data-bind='visible: items().length > 0' class = 'filetable'>
                                <tbody data-bind='foreach: items'>
                                    <tr>
                                        <td data-bind='text: item.name, click: $parent.send, css: selectedCSS, visible: visible' class='donthighlight expDir'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="raw_dat" data-bind='visible: div_visible'>
		    <input type="text" data-bind="value: filter_input">
                    <div class = 'filetablediv' style = 'background:#FFF4F6;'>
                        <p style="margin-left: 5px;">Files</p>
                        <div class='scroll'>
                            <table data-bind='visible: items().length > 0' class = 'filetable'>
                                <tbody data-bind='foreach: items'>
                                    <tr>
                                        <td data-bind='text: item.name, click: $parent.send, css: selectedCSS, visible: visible' class='donthighlight expDir'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
	    <div id="container" style="width:80%; height:900px;float: left;border: solid;"></div>
	</div>
	<div class="data-loading">
	    <div class="data-icon">
		<i class="fa fa-refresh fa-spin"></i>
	    </div>
	</div>
    </body>
</html>
