<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Generic Scanner</title>
	<link rel="stylesheet" href="{{ url_for('genericscan.static', filename='jquery/ui/css/jquery-ui.css')}}">
	<script type="text/javascript" src="{{ url_for('genericscan.static', filename='socket.io.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/jquery-1.8.2.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/ui/jquery-ui.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/ui/jquery.ui.core.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/ui/jquery.ui.widget.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/ui/jquery.ui.mouse.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/ui/jquery.ui.sortable.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/ui/jquery.ui.selectable.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/ui/jquery.ui.button.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='jquery/ui/jquery.ui.tabs.js')}}"></script>
		
	<link rel="stylesheet" href="{{ url_for('genericscan.static', filename='demos.css')}}">

	<script src="{{ url_for('genericscan.static', filename='jquery/jquery.event.drag/jquery.event.drag.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='SlickGrid/slick.core.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='SlickGrid/plugins/slick.cellrangedecorator.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='SlickGrid/plugins/slick.cellrangeselector.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='SlickGrid/plugins/slick.cellselectionmodel.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='slick.cellexternalcopymanager.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='SlickGrid/slick.formatters.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='SlickGrid/slick.editors.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='SlickGrid/slick.grid.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='SlickGrid/plugins/slick.headerbuttons.js')}}"></script>
	
	<script src="{{ url_for('genericscan.static', filename='ext.overlays.js')}}"></script>
	<script src="{{ url_for('genericscan.static', filename='positioners.js')}}"></script>
		
	<link rel="stylesheet" href="{{ url_for('genericscan.static', filename='SlickGrid/slick.grid.css')}}" type="text/css"/>
	<link rel="stylesheet" href="{{ url_for('genericscan.static', filename='SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css')}}" type="text/css"/>
	<link rel="stylesheet" href="{{ url_for('genericscan.static', filename='SlickGrid/examples/examples.css')}}" type="text/css"/>
	<link rel="stylesheet" href="{{ url_for('genericscan.static', filename='SlickGrid/plugins/slick.headerbuttons.css')}}" type="text/css"/>
	
	<link rel="stylesheet" href="{{ url_for('genericscan.static', filename='filloverlay.css')}}" type="text/css"/>
	
	<link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
		
	<style>
	H7 {display:inline-block;font-family: 'Capriola', sans-serif;font-size: 20pt;font-weight: bold;}
	H8 {display:inline-block;font-family: 'Capriola', sans-serif;font-size: 16pt;}
	/* styles for slickgrid */
	.centre-span {text-align: center;}
	.num-column {border-right-color: silver; border-right-style: solid; background: #f5f5f5; color: gray; text-align: right; font-size: 10px;}
	/*.blueRow {background: #B7F0FF;}*/
	.slick-row.odd .TableColumn{background: #EAFAFF;}
	.slick-row.even .TableColumn{background: #F7FDFF;}
	.slick-row .TableColumn.selected{background: #D1F3FF; -webkit-transition: 0.5s background;}
	.slick-row .TableColumn.selected.copied{background: #D1D1FF; -webkit-transition: 0.5s background;}
	.slick-row.odd .LinearColumn{background: #FFEAEA;}
	.slick-row.even .LinearColumn{background: #FFF7F7;}
	.slick-row .LinearColumn.selected{background: #FFD1D1; -webkit-transition: 0.5s background;}
	.slick-row .LinearColumn.selected.copied{background: #FFF3D1; -webkit-transition: 0.5s background;}
	.slick-row.odd .ExponentialColumn{background: #EAFFEC;}
	.slick-row.even .ExponentialColumn{background: #F7FFF8;}
	.slick-row .ExponentialColumn.selected{background: #D1FFD6; -webkit-transition: 0.5s background;}
	.slick-row .ExponentialColumn.selected.copied{background: #D1FFF8; -webkit-transition: 0.5s background;}
	.Delay .slick-cell{color: #949494; background: #EAE5F5;}
	.Expanded.odd .slick-cell{color: #3F3F3F; background: #F9F7F4;}
	.Expanded.even .slick-cell{color: #3F3F3F; background: #EFEDEA;}
	
	.loop-div {float: left; padding-right:10px; padding-top:15px;}
	.clear-button {float: right;}
	
	/*styles for the Start Scan Tab*/
	.stop-button {background: rgb(200,40,40) !important;color: rgb(240,240,240) !important;}
	.stop-button:hover {background: rgb(180,40,40) !important;color: rgb(255,255,255) !important;}
	.stop-button:active {background: rgb(255,0,0) !important;color: rgb(255,255,255) !important;}
	.initialise-button {background: rgb(39, 145, 198) !important;color: rgb(240,240,240) !important;}
	.initialise-button:hover {background: rgb(41, 132, 178) !important;color: rgb(255,255,255) !important;}
	.initialise-button:active {background: rgb(0, 169, 255) !important; color: rgb(255,255,255) !important;}
	.run-button {background: rgb(40,200,40) !important;}
	.run-button:hover {background: rgb(40,180,40) !important;color: rgb(255,255,255) !important;}
	.run-button:active {background: rgb(0,255,0) !important; color: rgb(0,0,0) !important;}
	/* ****** */
	
	#topbar {padding: 10px 5px;}
	#runbar {padding: 10px 5px;}
	#selecttools {margin-bottom: 5px; float:left;}
	
	select {display: block; margin: 3px; font-size: x-small; width:90px;}
	</style>
	<script>
		WEB_SOCKET_SWF_LOCATION = "{{ url_for('genericscan.static', filename='WebSocketMain.swf')}}";
		WEB_SOCKET_DEBUG = true;
		
		function setUnload(on) {
			window.onbeforeunload = (on) ? confirmOnPageExit : null;
		}
		
		function confirmOnPageExit(e) {
			var message = "You are attempting to navigate away from, or reload, the Generic Scan GUI with unsaved changes. You will lose these changes if you continue.";
			
			(e || window.event).returnValue = message;     //Gecko + IE
			return message;                                //Webkit, Safari, Chrome etc.
			
		}
		
		// socket.io specific code
		var socket = io.connect('/genericscan');
		var globalepn;
		var globalscan;
		var globalscanlist;
		var globalbeamline = 'None';
		
		socket.on('connect', function(){
			socket.emit('connect')
		});
	
                socket.on('beamline', function(beamline){
                    if (beamline != null){
			globalbeamline = beamline;
		    } else {
		        globalbeamline = 'None';
                    }
		});
	
		socket.on('epn', function(epn){
			if ('{{epn}}' != '' && '{{epn}}' != epn) {
				socket.emit('changeepn','{{epn}}')
			} else {
				globalepn = epn;
				$("#epnTitle").html('Current USER/EPN: ' + globalepn);
				if (epn != undefined && '{{scan}}' != '')
				{
					$("#scanname").val('{{scan}}');
					socket.emit('load',globalepn,'{{scan}}');
				}
			}
		});
		
		socket.on('loadlist', function (list) {
			globalscanlist = list;
			$( "#scanname" ).autocomplete( "option", "source", list);
		});
		
		socket.on('scandata', function(epn,scan,data){
			
			var tableCount = 0;
			
			globalepn = epn;
			globalscan = scan;
			
			console.log('load:' + globalepn + " " + globalscan);
			
			$("#qrimage").attr('src','/genericscan/qrcode/' + epn + '/' + scan);
			$("#qrimagelink").attr('href','/genericscan/qrcode/' + epn + '/' + scan);
			
			$('#nameorder').val('Loop'+data.nameorder.join('Loop'));
			
			for (var loop = 0; loop <=3; ++loop) {
				
				fillGrid[loop].invalidateAllRows();
				
				if (data.number[loop] == 0 || data.number[loop] == null) {
					updateTableLength(posGrid[loop],1);
					posData[loop][0] = [{colNum:1}];
				} else {
					updateTableLength(posGrid[loop],data.number[loop]);
					for (var i=0; i<data.number[loop]; i++) {
						posData[loop][i]['name'] = data.filenames[loop][i];
					};
				};
					
				for (var posIndex = 1; posIndex <= 3; ++posIndex) {
					index = loop*3 + posIndex-1;
					
					(fillData[loop])[0]['position'+String(posIndex)] = data.positioners[index]['Name'];
					(fillData[loop])[1]['position'+String(posIndex)] = data.type[index];
					(fillData[loop])[2]['position'+String(posIndex)] = data.relative[index];
					(fillData[loop])[3]['position'+String(posIndex)] = data.start[index];
					(fillData[loop])[4]['position'+String(posIndex)] = data.end[index];
					(fillData[loop])[5]['position'+String(posIndex)] = data.step[index];
					updatePosGridFormatting(posColumns[loop][posIndex+1],data.type[index]);
					
					if (data.type[index] == 'Table') {
						for (var i=0; i<data.number[loop]; i++) {
							posData[loop][i]['position'+String(posIndex)] = data.tableData[tableCount][i];
						};
						tableCount++;
					};
				};
				(fillData[loop])[6]['position1'] = data.number[loop];
				(fillData[loop])[7]['position1'] = data.delay[loop];
				fillGrid[loop].render();
				updatePosGridColumn(loop,['empty','rows','position1','position2','position3']);
			};

			


		});
		function isNumberKey(evt,id) {
			var charCode = (evt.which) ? evt.which : event.keyCode;
		        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
				$('#'+id).css("background","rgb(255,0,0)");
				setTimeout(function(){$('#'+id).css("background","rgb(255,255,255)")},200);
				return false;
			} else {
				return true;
			}      
		};
		
		var alphabet = ("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz").split("");
		
		function looplist(){
			var list = [];
			for (var l1=1;l1<=4;l1++) {
				for (var l2=1;l2<=4;l2++) {
					if (l2==l1) { continue };
					for (var l3=1;l3<=4;l3++) {
						if (l3==l2 || l3==l1) { continue };
						for (var l4=1;l4<=4;l4++) {
							if (l4==l3 || l4==l2 || l4==l1) { continue };
							list.push('Loop'+l1+'Loop'+l2+'Loop'+l3+'Loop'+l4);
						};
					};
				};
			};
			return list
			
		}
		
		var selectorLists = {Type: ['Linear','Exponential','Table'], "Abs/Rel": ['Absolute','Relative'], Positioner: Object.keys(positionerStruct)};
		
		function AutoCompleteEditor(args) {
			var $input;
			var defaultValue;
			var scope = this;
		        
			this.init = function () {
			  $input = $("<INPUT type=text class='editor-text'/>")
			      .appendTo(args.container)
			      .bind("keydown.nav", function (e) {
				if (e.keyCode === $.ui.keyCode.LEFT || e.keyCode === $.ui.keyCode.RIGHT) {
				  e.stopImmediatePropagation();
				}
			      })
			      .autocomplete({minLength:0, source:selectorLists[args.item.rows]})
			      .focus(function(){$(this).autocomplete('search', "")})
			      .select();
			};
		    
			this.destroy = function () {
			  $input.remove();
			};
		    
			this.focus = function () {
			  $input.focus();
			};
		    
			this.getValue = function () {
			  return $input.val();
			};
		    
			this.setValue = function (val) {
			  $input.val(val);
			};
		    
			this.loadValue = function (item) {
			  defaultValue = item[args.column.field] || "";
			  $input.val(defaultValue);
			  $input[0].defaultValue = defaultValue;
			  $input.select();
			};
		    
			this.serializeValue = function () {
			  return $input.val();
			};
		    
			this.applyValue = function (item, state) {
			  item[args.column.field] = state;
			};
		    
			this.isValueChanged = function () {
			  return (!($input.val() == "" && defaultValue == null)) && ($input.val() != defaultValue);
			};
		    
			this.validate = function () {
			  if (args.column.validator) {
			    var validationResults = args.column.validator($input.val());
			    if (!validationResults.valid) {
			      return validationResults;
			    }
			  }
		    
			  return {
			    valid: true,
			    msg: null
			  };
			};
		    
			this.init();
		};
		
		function FloatEditor(args) {
			var $input;
			var defaultValue;
			var scope = this;
		    
			this.init = function () {
			  $input = $("<INPUT type=text class='editor-text' />");
		    
			  $input.bind("keydown.nav", function (e) {
			    if (e.keyCode === $.ui.keyCode.LEFT || e.keyCode === $.ui.keyCode.RIGHT) {
			      e.stopImmediatePropagation();
			    }
			  });
		    
			  $input.appendTo(args.container);
			  $input.focus().select();
			};
		    
			this.destroy = function () {
			  $input.remove();
			};
		    
			this.focus = function () {
			  $input.focus();
			};
		    
			this.loadValue = function (item) {
			  defaultValue = item[args.column.field];
			  $input.val(defaultValue);
			  $input[0].defaultValue = defaultValue;
			  $input.select();
			};
		    
			this.serializeValue = function () {
			  return parseFloat($input.val());
			};
		    
			this.applyValue = function (item, state) {
			  item[args.column.field] = state;
			};
		    
			this.isValueChanged = function () {
			  return (!($input.val() == "" && defaultValue == null)) && ($input.val() != defaultValue);
			};
		    
			this.validate = function () {
			  if (isNaN($input.val())) {
			    return {
			      valid: false,
			      msg: "Please enter a valid integer"
			    };
			  }
		    
			  return {
			    valid: true,
			    msg: null
			  };
			};		

			this.init();
		};
		
			
		function harvestData(){
			var posIndex;
			var rowIndex;
			var positioner = [];
			var type = [];
			var relative = [];
			var start = [];
			var end = [];
			var step = [];
			var number = [];
			var delay = [];
			var tableData = [];
			var filenames = [];
			
			for (var loop = 0; loop <=3; ++loop) {
				var filenamesTemp = [];
				for (var row=0; row < posData[loop].length; row++) {
					filenamesTemp.push(posData[loop][row]['name']);
				};
				filenames.push(filenamesTemp);
				
				for (posIndex = 1; posIndex <= 3; ++posIndex) {
					positionerTemp = (fillData[loop])[0]['position'+String(posIndex)]
					positioner.push({Name: positionerTemp, PV: positionerStruct[positionerTemp]});
					type.push((fillData[loop])[1]['position'+String(posIndex)]);
					relative.push((fillData[loop])[2]['position'+String(posIndex)]);
					start.push((fillData[loop])[3]['position'+String(posIndex)]);
					end.push((fillData[loop])[4]['position'+String(posIndex)]);
					step.push((fillData[loop])[5]['position'+String(posIndex)]);
					
					if (type[type.length-1] == 'Table') {
						var tableDataTemp = [];
						for (var row=0; row < posData[loop].length; row++) {
							tableDataTemp.push(posData[loop][row]['position'+String(posIndex)]);
						};
						tableData.push(tableDataTemp);
					};
				};
				number.push((fillData[loop])[6]['position1']);
				delay.push((fillData[loop])[7]['position1']);
			}
			
			var data = {};
			data['scanname'] = globalscan;
			data['filenames'] = filenames;
			data['nameorder'] = $('#nameorder').val().split('Loop').slice(1).map(function(x){return parseInt(x,10)});
			data['positioners'] = positioner;
			data['type'] = type;
			data['relative'] = relative;
			data['start'] = start;
			data['end'] = end;
			data['step'] = step;
			data['number'] = number;
			data['delay'] = delay;
			data['tableData'] = tableData;
			
			return data;
		};
		
		function saveScan(){
			scanname = $("#scanname").val()
			if (scanname == ''){
				alert('No Scan Name given. Please Enter Name.');
				return -1;
			}
			var filenames = $('#scanname').autocomplete( "option", "source");
				if (filenames != null) {
					if (filenames.indexOf(scanname)!=-1){
					ok = confirm('Overwrite ' + scanname + '?');
					if (ok == false){
						return -1;
					}
				}
			}
			
			globalscan = scanname;
			
			$("#qrimage").attr('src','/genericscan/qrcode/' + globalepn + '/' + scanname);
			$("#qrimagelink").attr('href','/genericscan/qrcode/' + globalepn + '/' + scanname);
				
			socket.emit('save', harvestData());
			
			//Save, turn off unload warning
			setUnload(false);
			
			return 0;
		};
		
		function buildNames() {
			
			fragmentOrder = $('#nameorder').val().split('Loop').slice(1);
			
			expandedGrid.invalidateAllRows();

			expandedLength = Math.max(posData[0].length,1)*Math.max(posData[1].length,1)*Math.max(posData[2].length,1)*Math.max(posData[3].length,1) + 1;
			
			//dataLength = (expandedGrid).getDataLength();
			(expandedData).splice(1,expandedData.length -1);
			
			for (index = 1; index < expandedLength; ++index) {
				(expandedData).splice(index,0,{colNum : index});
			}
			
			(expandedGrid).updateRowCount();

			dataRow = expandedData[0];
			
			dataRow.position1 = fillData[0][0].position1;
			dataRow.position2 = fillData[0][0].position2;
			dataRow.position3 = fillData[0][0].position3;
			dataRow.position4 = fillData[1][0].position1;
			dataRow.position5 = fillData[1][0].position2;
			dataRow.position6 = fillData[1][0].position3;
			dataRow.position7 = fillData[2][0].position1;
			dataRow.position8 = fillData[2][0].position2;
			dataRow.position9 = fillData[2][0].position3;
			dataRow.position10 = fillData[3][0].position1;
			dataRow.position11 = fillData[3][0].position2;
			dataRow.position12 = fillData[3][0].position3;
			
			delay = [];
			
			for (var pos4=0;pos4<posData[3].length;pos4++){
				for (var pos3=0;pos3<posData[2].length;pos3++){
					for (var pos2=0;pos2<posData[1].length;pos2++){
						for (var pos1=0;pos1<posData[0].length;pos1++){
							
							position = pos1 + pos2*posData[0].length + pos3*posData[1].length*posData[0].length + pos4*posData[2].length*posData[1].length*posData[0].length;
							var fragment = ['','','',''];
							fragment[0] = posData[0][pos1].name;
							if (fragment[0] == undefined) {fragment[0]=''};
							fragment[1] = posData[1][pos2].name;
							if (fragment[1] == undefined) {fragment[1]=''};
							fragment[2] = posData[2][pos3].name;
							if (fragment[2] == undefined) {fragment[2]=''};
							fragment[3] = posData[3][pos4].name;
							if (fragment[3] == undefined) {fragment[3]=''};
	
							dataRow = expandedData[position + 1];
							
							dataRow.name = fragment[fragmentOrder[0]-1] + fragment[fragmentOrder[1]-1] + fragment[fragmentOrder[2]-1] + fragment[fragmentOrder[3]-1];
							
							dataRow.position1 = posData[0][pos1].position1
							dataRow.position2 = posData[0][pos1].position2
							dataRow.position3 = posData[0][pos1].position3
							
							dataRow.position4 = posData[1][pos2].position1
							dataRow.position5 = posData[1][pos2].position2
							dataRow.position6 = posData[1][pos2].position3
							
							dataRow.position7 = posData[2][pos3].position1
							dataRow.position8 = posData[2][pos3].position2
							dataRow.position9 = posData[2][pos3].position3
							
							dataRow.position10 = posData[3][pos4].position1
							dataRow.position11 = posData[3][pos4].position2
							dataRow.position12 = posData[3][pos4].position3
							
							delayVal = [0,0,0,0];
							
							for (var loop=0; loop<4; loop++) {
								if ((fillData[loop])[7]["position1"] == undefined) {
									delayVal[loop] = 0;
								} else {
									delayVal[loop] = parseFloat("0"+(fillData[loop])[7]["position1"]);
								};
							};
							
							delay.push(delayVal[0] +
								(((position+1) % posData[0].length) == 0)*delayVal[1] +
								(((position+1) % (posData[0].length*posData[1].length)) == 0)*delayVal[2] +
								(((position+1) % (posData[0].length*posData[1].length*posData[2].length)) == 0)*delayVal[3]);
						};
					};
				};
			};
			for (var i=expandedLength-2; i>=0; i--) {
				if (delay[i] > 0) {
					(expandedData).splice(i+2,0,{colNum : 'D', name : 'Delay ' + delay[i] + '(s)'});
				};
			};
			(expandedGrid).updateRowCount();
			expandedGrid.render();
		};
		
		function fillUpDown(e,args) {
			var upDownColumn = args.grid.getColumns()[args.range.fromCell];
			var upDownData = args.grid.getData();
		  
			// Ensure the column is editable
			if (!upDownColumn.editor) {
				return;
			}
		
			var value1 = upDownData[args.range.fromRow][upDownColumn.field];
			var value2 =  upDownData[args.range.fromRow+1][upDownColumn.field];
		
			var value1First = ''
			var value2First = ' '
			
			if (typeof(value1) == "number" && typeof(value2) == "number") {
				for (var i = args.range.fromRow + 1; i <= args.range.toRow; i++) {
					upDownData[i][upDownColumn.field] = value1+(i-args.range.fromRow)*(value2-value1);
					args.grid.invalidateRow(i);
				}
			} else {
				value1 = String(value1);
				value2 = String(value2);
			
				for (var i=value1.length-1;i>=0;i--) {
					if (isNaN(value1.slice(i))){
						suffix1 = i+1;
						break;
					}
					suffix1 = -1;
				}
			
				for (var i=value2.length-1;i>=0;i--) {
					if (isNaN(value2.slice(i))){
						suffix2 = i+1;
						break;
					}
					suffix2 = -1;
				}
			
				if (value1.slice(0,suffix1) == value2.slice(0,suffix2)) {
					suffix = suffix2;
				} else {suffix = -1}
			
				value1First = value1.slice(0,suffix);
				value1Last = value1.slice(suffix);
				value2First = value2.slice(0,suffix);
				value2Last = value2.slice(suffix);
		
				if (value1First == value2First) {
					for (var i = args.range.fromRow + 1; i <= args.range.toRow; i++) {
                                        	if (!isNaN(parseInt(value1Last))) {
							upDownData[i][upDownColumn.field] = value1First+(parseInt(value1Last)+(i-args.range.fromRow)*(parseInt(value2Last)-parseInt(value1Last)));
						} else {
							upDownData[i][upDownColumn.field] = value1First+alphabet[alphabet.indexOf(value1Last)+(i-args.range.fromRow)*(alphabet.indexOf(value2Last)-alphabet.indexOf(value1Last))];
						}
						args.grid.invalidateRow(i);
					}
				} else {
					// Copy the value down
					for (var i = args.range.fromRow + 1; i <= args.range.toRow; i++) {
						upDownData[i][upDownColumn.field] = value1;
						args.grid.invalidateRow(i);
					}
				}	
			}
			args.grid.render();
		}
	
		$(function() {
			
			$( "#save").click(function(){
				if (saveScan() == -1){
					alert('Scan not saved');
				}
			});
			$("#load").click(function(){
				if (globalscanlist.indexOf($("#scanname").val()) == -1) {
					alert("Unknown scan");
					return
				}
				globalscan = $("#scanname").val();
				socket.emit("load",globalepn,globalscan);
			});
			$(".clear-button").button().click(function(){
				loopnum = this.id.slice(5,6) - 1;
				fillData[loopnum]=([{rows:'Positioner'},{rows:'Type'},{rows:'Abs/Rel', position1:'Absolute', position2:'Absolute', position3:'Absolute'},{rows:'Start'},{rows:'End'},{rows:'Step'},{rows:'Number'},{rows:'Delay (s)'}]);
				fillGrid[loopnum].setData(fillData[loopnum]);
				fillData[loopnum].getItemMetadata = formatColumns
				fillGrid[loopnum].render();
				posData[loopnum]= [{colNum:1}];
				posGrid[loopnum].setData(posData[loopnum]);
				posGrid[loopnum].render();
				
			});
			$("#run").button().click(function(){
				if (globalbeamline == 'SAXS'){
					if (saveScan() != -1) {
						socket.emit("run",globalepn, globalscan);
					}
				} else {
					alert('Not at beamline. Function disabled');
				}
			});
			$("#initialise").button().click(function(){
				if (globalbeamline == 'SAXS'){
  					if (saveScan() != -1) {
						socket.emit("initialise",globalepn, globalscan);
					}
				} else {
					alert('Not at beamline. Function disabled');
				}
			});
			$("#stop").button().click(function(){
				if (globalbeamline == 'SAXS'){
					socket.emit("stop");
				} else {
					alert('Not at beamline. Function disabled');
				}
			});
			
			$( "#radio" ).buttonset();
			$( "#tab2tools").buttonset();
			$( "#tab2btools").buttonset();
			$( "#tabs" ).tabs({collapsible: true}).find( ".ui-tabs-nav" ).sortable({ axis: "x" });
			
			$( "#autoedit").click(function(){
				if ($(this).is(':checked')){
					for(var loop=0;loop<=3;loop++){
						posGrid[loop].unregisterPlugin(copyManager[loop]);	
						options = posGrid[loop].getOptions();
						options.autoEdit = true;
						posGrid[loop].setOptions(options);
					};
				} else {

					for(var loop=0;loop<=3;loop++){
						copyManager[loop] = (new Slick.CellExternalCopyManager());
						posGrid[loop].registerPlugin(copyManager[loop]);
						options = posGrid[loop].getOptions();
						options.autoEdit = false;
						posGrid[loop].setOptions(options);
					};
				};
			});
			
			$("#scanrun").click(function(){
				buildNames();
			});
			$("#scanname").autocomplete({minLength:0})
				.focus(function(){$(this).autocomplete('search', $(this).val())});
			$("#nameorder").autocomplete({minLength:0, source: looplist()})
				.focus(function(){$(this).autocomplete('search', "")});
			$("#userepn").change(function(){
				socket.emit('changeepn',$(this).val());
			});
		});
		
		function updatePosGridFormatting(column,type) {
			if (type == 'Table') {
				column["editor"] = FloatEditor;
				column["cssClass"] = "TableColumn";
			} else {
				(column)["editor"] = null;
				switch (type) {
					case 'Linear':
						column["cssClass"] = "LinearColumn";
						break;
					case 'Exponential' :
						column["cssClass"] = "ExponentialColumn";
						break;
					default:
						break;
				};
			};
		}
		
		function updateTableLength(grid,length) {
			
			data = grid.getData();
			dataLength = grid.getDataLength();
			if (length < dataLength) {
			data.splice(length,dataLength - length);
			}
			for (index = 0; index < length - dataLength; ++index) {
				data.splice(dataLength+index,0,{colNum : dataLength+index+1});
				grid.invalidateRow(dataLength);
			}
			grid.updateRowCount();
		}
		
		function updatePosGridColumn(loop,columnIDArray){
			var rowNum;
			var idNum;
			
			posGrid[loop].invalidateAllRows();
			
			for (idNum = 0; idNum < columnIDArray.length; ++idNum ) {
				columnID = columnIDArray[idNum];
				type = (fillData[loop])[1][columnID];
				relative = (fillData[loop])[2][columnID];
				start = (fillData[loop])[3][columnID];
				end = (fillData[loop])[4][columnID];
				step = (fillData[loop])[5][columnID];
				number = (fillData[loop])[6]["position1"];
				
				switch (type) {
					case 'Linear' :
						for (rowNum = 0; rowNum < number; rowNum++) {
							value = (start + rowNum * (end-start)/(number-1)).toFixed(3);
							if (isNaN(value)) {value = ''};
							(posData[loop])[rowNum][columnID] = value;
						}
						break;
					case 'Exponential' :
						prefactor = (end-start)/((number-1)*Math.pow(step,number-1));
						for (rowNum = 0; rowNum < number; rowNum++) {
							value = (start + prefactor*rowNum*Math.pow(step,rowNum)).toFixed(3);
							if (isNaN(value)) {value = ''};
							(posData[loop])[rowNum][columnID] = value;
						}
						break;
				}
			}
			posGrid[loop].render();
		}
		
		function formatExpandedColumns(row) {
			if (row >= expandedData.length) {
				return {};
			}
			if (expandedData[row].colNum == "D") {
				return {"cssClasses": "Delay"};
			} else {
				return {"cssClasses": "Expanded"};
			};
			
			return {};
		}
		
		function formatColumns(row) {
			columns = {};
				
			if (row <= 2) {
				columns = {
					"position1": {
						editor: AutoCompleteEditor
					},
					"position2": {
						editor: AutoCompleteEditor
					},
					"position3": {
						editor: AutoCompleteEditor
					}
				};
			} else {
				columns = {
					"position1": {
						editor: FloatEditor,
					},
					"position2": {
						editor: FloatEditor
					},
					"position3": {
						editor: FloatEditor
					}
				};
			}
			if (row == 6) {
				columns["position1"]["colspan"] = 3;
				columns["position1"]["editor"] = Slick.Editors.Integer;
					
			}
			if (row == 7) {
				columns["position1"]["colspan"] = 3;
				columns["position1"]["editor"] = FloatEditor;
					
			}
			return { "columns": columns};
		};
		
		var copyManager = [];
		
		var fillGrid = [];
		var fillColumns = [];
		var fillData = [];

		for (var loop=0;loop<=3;loop++){	
			fillColumns.push(
				[{id: "empty", width: 8, cssClass: "num-column", cannotTriggerInsert: true, resizable: false, selectable: false},
				{id: "rows", name: "", field: "rows", width: 80},
				{id: "position1", name: "Position1", field: "position1", width: 80},
				{id: "position2", name: "Position2", field: "position2", width: 80},
				{id: "position3", name: "Position3", field: "position3", width: 80}]
			);
			fillData.push(
				[{rows:'Positioner'},{rows:'Type'},{rows:'Abs/Rel', position1:'Absolute', position2:'Absolute', position3:'Absolute'},{rows:'Start'},{rows:'End'},{rows:'Step'},{rows:'Number'},{rows:'Delay (s)'}]
			);
		};
		
				
		var fillOptions = {
		  editable: true,
		  enableAddRow: false,
		  enableCellNavigation: true,
		  enableColumnReorder: false,
		  asyncEditorLoading: false,
		  autoEdit: true
		};
		
		$(function () {
			
			expandedData.getItemMetadata = formatExpandedColumns;
			for(var i=0;i<=3;i++){fillData[i].getItemMetadata = formatColumns};
					    			
			for (var loop=0;loop<=3;loop++) {
			

				tempFillGrid = new Slick.Grid("#fillGrid"+String(loop+1), fillData[loop], fillColumns[loop], fillOptions);
				
				tempFillGrid.addCellCssStyles('span',{6:{"position1": "centre-span"}, 7:{"position1": "centre-span"}});
				
				//Event Handlers
				
				tempFillGrid.onBeforeEditCell.subscribe(function(e,args){
					data = args.grid.getData();
					if (args.row > 1 && args.row < 6){
						if (data[1][args.column.id] == "Table"){
							return false;
						};
					}
					return true;
				});
				
				tempFillGrid.onCellChange.subscribe(function(e,args){
					var index;
					var columnIDs =[];
					column = args.grid.getColumns();
					data = args.grid.getData();
					grid = args.grid;
					loop = (args.grid.getContainerNode().id.slice(-1)-1);
					
					//Set page unload warning as something has changed.
					setUnload(true);
					
					
					for (index = 0; index < column.length; ++index) {
						columnIDs.push(column[index].id);
					}
					
					cellValue = args.item[columnIDs[args.cell]];
					
					if (args.item.rows != 'Positioner') {
						
						if (args.item.rows == 'Type') {
							if (cellValue == 'Table') {
								grid.invalidateRow(3);
								grid.invalidateRow(4);
								grid.invalidateRow(5);
								data[3][columnIDs[args.cell]] = '';
								data[4][columnIDs[args.cell]] = '';
								data[5][columnIDs[args.cell]] = '';
							};
							updatePosGridFormatting((posColumns[loop])[args.cell], cellValue);
						};
					
						if (args.item.rows == 'Number') {
							index1 = 2;
							index2 = 4;
						} else {index1 = (index2 = args.cell)};
						
						for (index = index1; index <= index2; ++index) {
							if (data[1][columnIDs[index]] == 'Linear'){
								if (args.item.rows == 'Step' || (data[5][columnIDs[index]] != '' && data[4][columnIDs[index]] == '')) {
									end = data[3][columnIDs[index]]+data[5][columnIDs[index]]*(data[6]['position1']-1);
									if (!isNaN(end)) {
										data[4][columnIDs[index]] = end.toFixed(4);
									} else {
										data[4][columnIDs[index]] = '';
									}
									(grid).invalidateRow(4);
								} else {
									step = (data[4][columnIDs[index]]-data[3][columnIDs[index]])/(data[6]['position1']-1);
									if (!isNaN(step)) {
										data[5][columnIDs[index]] = step.toFixed(4);
									} else {
										data[5][columnIDs[index]] = '';
									}
									(grid).invalidateRow(5);
								}	
							}	
							(grid).render();
						}
						if (args.item.rows == 'Number'){
							updateTableLength(posGrid[loop],cellValue);
						}
						updatePosGridColumn(loop,columnIDs);
					}
				});
				fillGrid.push(tempFillGrid);
			};
		})

		var posGrid =[];
		var posColumns = [];
		var posData = [];
		
		for (var loop=0;loop<=3;loop++) {
			posColumns.push(
				[{id: "colNum", name: "", field: "colNum", width: 8, cssClass: "num-column", cannotTriggerInsert: true, resizable: false, selectable: false},
				{id: "name", name: "Filename", field: "name", width: 80, editor: Slick.Editors.Text},
				{id: "position1", name: "Position1", field: "position1", width: 80},
				{id: "position2", name: "Position2", field: "position2", width: 80},
				{id: "position3", name: "Position3", field: "position3", width: 80}]
			);
			(posColumns[loop])[0].header = {
				buttons:[
					{
						cssClass: "icon-highlight-off",
						command: "toggle-highlight",
						tooltip: "Highlight negative numbers."
					}
				]
			};
			posData.push([{colNum:1}]);
		};
	      
	      
		var posOptions = {
		  editable: true,
		  enableAddRow: true,
		  enableCellNavigation: true,
		  enableColumnReorder: false,
		  asyncEditorLoading: false,
		  autoEdit: true
		};
	      
	      
		var overlayPlugin = [];

		$(function () {
			for (var loop=0;loop<=3;loop++) {
				tempPosGrid = new Slick.Grid("#positionGrid"+String(loop+1), posData[loop], posColumns[loop], posOptions);
				tempPosGrid.setSelectionModel(new Slick.CellSelectionModel());
				
				tempPosGrid.onAddNewRow.subscribe(function (e, args) {
					var item = args.item;
					item["colNum"] = posData.length+1;
					(posGrid[loop]).invalidateRow((posData[loop]).length);
					(posData[loop]).push(item);
					(posGrid[loop]).updateRowCount();
					(posGrid[loop]).render();
				});
				tempPosGrid.onCellChange.subscribe(function (e,args){
					//Something changed, set unload warning.
					setUnload(true);
				});
				
				tempPosGrid.setSelectionModel(new Slick.CellSelectionModel());
				overlayPlugin.push(new Ext.Plugins.Overlays({}));
				tempPosGrid.registerPlugin(overlayPlugin[loop]);
				overlayPlugin[loop].onFillUpDown.subscribe(fillUpDown);
				posGrid.push(tempPosGrid);
			};
		});
		
		var expandedGrid;
		var expandedColumns;
		var expandedData;

		expandedColumns =
			[{id: "colNum", name: "", field: "colNum", width: 8, cssClass: "num-column", cannotTriggerInsert: true, resizable: false, selectable: false},
			{id: "name", name: "Filename", field: "name", width: 120, editor: Slick.Editors.Text},
			{id: "position1", name: "Position1", field: "position1", width: 100},
			{id: "position2", name: "Position2", field: "position2", width: 100},
			{id: "position3", name: "Position3", field: "position3", width: 100},
			{id: "position4", name: "Position4", field: "position4", width: 100},
			{id: "position5", name: "Position5", field: "position5", width: 100},
			{id: "position6", name: "Position6", field: "position6", width: 100},
			{id: "position7", name: "Position7", field: "position7", width: 100},
			{id: "position8", name: "Position8", field: "position8", width: 100},
			{id: "position9", name: "Position9", field: "position9", width: 100},
			{id: "position10", name: "Position10", field: "position10", width: 100},
			{id: "position11", name: "Position11", field: "position11", width: 100},
			{id: "position12", name: "Position12", field: "position12", width: 100}
		];
		
		expandedColumns[0].header = {
			buttons:[{
				cssClass: "icon-highlight-off",
				command: "toggle-highlight",
				tooltip: "Highlight negative numbers."
			}]
		};
		
		expandedData = [{colNum: 0}];
		
		var expandedOptions = {
		  editable: true,
		  enableAddRow: true,
		  enableCellNavigation: true,
		  enableColumnReorder: false,
		  asyncEditorLoading: false,
		  autoEdit: true
		};
		
		$(function () {
			expandedGrid = new Slick.Grid("#expandedGrid", expandedData, expandedColumns, expandedOptions);
			expandedGrid.onAddNewRow.subscribe(function (e, args) {
					var item = args.item;
					item["colNum"] = expandedData.length+1;
					(expandedGrid[loop]).invalidateRow((expandedData[loop]).length);
					(expandedGrid[loop]).push(item);
					(expandedGrid[loop]).updateRowCount();
					(expandedGrid[loop]).render();
			});
		});
		
	</script>
</head>
<body>
<H7>Generic Scan</H7>
<H8 id="epnTitle" style="margin-left: 20px; margin-bottom: 5px; padding: 3px;"></H8>
<br>
<div style="margin: 10px 0px;">
<span id="topbar" class="ui-widget-header ui-corner-all" style="padding: 22px 10px;">
	<!--<label for="userepn">Username_EPN</label>
	<input id="userepn"></input>	-->
	<label for="scanname">Scan Name</label>
	<input id="scanname"></input>
	<button id="save">Save</button>
	<button id="load">Load</button>
	<button id="StopTop">Stop</button>
	<a id="qrimagelink" href="{{ rel }}qrcode"><img id="qrimage" src="{{ rel }}qrcode" height=50px style="vertical-align: middle"></a>
</span>	
</div>

<div class="genericscan" style="width:1530px">

<div id="tabs">
	<ul>
		<li><a id="scansetup" href="#tabs-1">Scan Setup</a></li>
		<li><a id="scanrun" href="#tabs-2">Start Scan</a></li>
	</ul>
	
	<div id="tabs-1" style="height:820px">
	
		<input type="checkbox" id="autoedit" checked/><label for="autoedit">Single Click Data Entry. Disables Copy/Paste.</label>
		<label for="nameorder" style="padding-left: 30px; padding-right: 5px;">Name Order:</label><input id="nameorder" value="Loop1Loop2Loop3Loop4" style="width:150px"></input></br>
		
		<div class="loop-div">
			<h8>Loop 1</h8>
			<button id="clear1" class="clear-button">Clear Loop</button>
			<div id="fillGrid1" style="width:365px;height:240px;clear:both;"></div>
			<div id="positionGrid1" style="width:365px;height:540px;clear:both;"></div>
		</div>
		<div class="loop-div">
			<h8>Loop 2</h8>
			<button id="clear2" class="clear-button">Clear Loop</button>
			<div id="fillGrid2" style="width:365px;height:240px;clear:both;"></div>
			<div id="positionGrid2" style="width:365px;height:540px;clear:both;"></div>
		</div>
		<div class="loop-div">
			<h8>Loop 3</h8>
			<button id="clear3" class="clear-button">Clear Loop</button>
			<div id="fillGrid3" style="width:365px;height:240px;clear:both;"></div>
			<div id="positionGrid3" style="width:365px;height:540px;clear:both;"></div>
		</div>
		<div class="loop-div" style="padding-right: 0px;">
			<h8>Loop 4</h8>
			<button id="clear4" class="clear-button">Clear Loop</button>
			<div id="fillGrid4" style="width:365px;height:240px;clear:both;"></div>
			<div id="positionGrid4" style="width:365px;height:540px;clear:both;"></div>
		</div>
			
	</div>
	<div id="tabs-2" >
		
		<div>
			<button id="run" class="run-button">Run Scan</button>
			<button id="initialise" class="initialise-button" title="Setup beamline for a scan without executing.">Initialise Scan</button>
			<button id="stop" class="stop-button">Stop Scan</button>
		</div>
		
		<div id="expandedGrid" style="width:1350px;height:800px;clear:both;"></div>
		
	</div>
</div>

</div>

</body>
</html>
5
