<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SAXS Web Services</title>
        <style>
            h1 {color: rgb(128,128,128)}
        </style>
</head>
<body>
    
    <h1>Welcome {{user}}</h1>
    <h3>This is the SAXS Web Services Landing Page</h3>
    
    <p>The services currently available are:</p>
    
    <a href=./genericscan>Generic Scan</a><br>
    <a href=./wellplates>96-Well Plate Scan</a><br>
    <a href=./saxsprofiles>SAXS Profiles</a><br>
    <a href=./pipelinereport>Autoprocessing Pipeline Report</a><br>
    <a href=./secprofiles>Size Exclusion Chromatography Analysis</a>
       
</body>