<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Wellplate Scanner</title>
	<link rel="stylesheet" href="{{ url_for('wellPlate.static', filename='jquery/ui/css/jquery-ui.css')}}">
	<script type="text/javascript" src="{{ url_for('wellPlate.static', filename='socket.io.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/jquery-1.8.2.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/ui/jquery-ui.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/ui/jquery.ui.core.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/ui/jquery.ui.widget.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/ui/jquery.ui.mouse.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/ui/jquery.ui.sortable.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/ui/jquery.ui.selectable.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/ui/jquery.ui.button.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/ui/jquery.ui.tabs.js')}}"></script>
	<script src="{{ url_for('wellPlate.static', filename='jquery/printThis.js')}}"></script>
	<link rel="stylesheet" href="{{ url_for('wellPlate.static', filename='demos.css')}}">
	
	<link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
		
	<style>
	
	H7 {display:inline-block;font-family: 'Capriola', sans-serif;font-size: 20pt;font-weight: bold;}
	H8 {display:inline-block;font-family: 'Capriola', sans-serif;font-size: 16pt;}
	body {background: #C69999;}
	
	.ui-autocomplete-category {
		font-weight: bold;
		padding: .2em .4em;
		margin: .8em 0 .2em;
		line-height: 1.5;
	}
	
	/*styles for the Run Order Tab*/
	.sortableRowNamesOrder {list-style-type: none; float: left; margin: 0; margin-top: 10px; margin-right: 5px; padding: 0; width: 25px;}
	.sortableRowNamesOrder li { margin: 0px 0px 0px 0; padding: 1px; float: left; width: 20px; height: 40px; font-size: 1em; text-align: center;}
	.sortableOrder { list-style-type: none; float: left; margin: 0; margin-top: 10px; padding: 0; width: 100px; }
	.sortableOrder li { margin: 0px 0px 0px 0px; padding: 1px; float: left; width: 100px; height: 40px;  text-align: center; border-radius: 5px; }
	.sortOrderCell {text-align: left; opacity: .5; font-size: 1.2em; padding-left : 5px; float: left;}
	.selectedOrderCell {color: rgb(255,100,0);font-weight: bold; opacity: 1;}
	.sortOrderName {font-weight: bold;text-align: center; word-break: break-word; display: inline-block;}
	.sortOrderConc {font-size: 0.8em;}
	.sortOrderConcUnit {font-size: 1em;}
	.removeSelect {!important; border: hidden !important;}
	.deselectbutton {width: 100px; margin-right:80px;}
	.stop-button {background: rgb(200,40,40) !important;color: rgb(240,240,240) !important;}
	.stop-button:hover {background: rgb(180,40,40) !important;color: rgb(255,255,255) !important;}
	.stop-button:active {background: rgb(255,0,0) !important;color: rgb(255,255,255) !important;}
	.run-button {background: rgb(40,200,40) !important;}
	.run-button:hover {background: rgb(40,180,40) !important;color: rgb(255,255,255) !important;}
	.run-button:active {background: rgb(0,255,0) !important; color: rgb(0,0,0) !important;}
	
	.share-button {background: rgb(39, 145, 198) !important;color: rgb(240,240,240) !important;}
	.share-button:hover {background: rgb(41, 128, 178) !important;color: rgb(255,255,255) !important;}
	.share-button:active {background: rgb(0, 178, 255) !important;color: rgb(255,255,255) !important;}
	
	/* ****** */
	
	/*styles for shared dialog*/
	#shared-list .ui-selecting { background: #FECA40; }
	#shared-list .ui-selected { background: #F39814; color: white; }
	#shared-list { list-style-type: none; margin: 0; padding: 0; width: 300px; }
	#shared-list li { margin: 1px; padding: 0.2em; font-size: 1em; height: 10px; width:300px }
	/* ****** */
	
	/*styles for qr print dialog*/
	#qr-list .ui-selecting { background: #FECA40; }
	#qr-list .ui-selected { background: #F39814; color: white; }
	#qr-list { list-style-type: none; margin: 0; padding: 0; width: 600px; }
	/*Put the following inline cause print plugin not using this css for some reason*/
	/*#qr-list li { margin: 1px; padding: 0.2em; font-size: 1em; float: left; text-align: center; height: 100px; width:100px }*/
	/* ****** */
	
	#topbar {padding: 10px 5px;}
	#runbar {padding: 10px 5px;}
	#selecttools {margin-bottom: 5px; float:left;}
	#sortableHead { list-style-type: none; float: left; margin: 0; padding: 0; width: 1450px; }
	#sortableRowNames {list-style-type: none; float: left; margin: 0; margin-right: 55px; padding: 0; width: 50px;}
	#sortable { list-style-type: none; float: left; margin: 0; padding: 0; width: 1300px; }
	#sortableHead li { margin: 0px 0px 0px 0; padding: 1px; float: left; width: 100px; height: 45px; font-size: 4em; text-align: center;}
	#sortableRowNames li { margin: 0px 0px 0px 0; padding: 1px; float: left; width: 100px; height: 125px; font-size: 4em; text-align: center;}
	#sortable li { margin: 0px 0px 0px 0; padding: 1px; float: left; width: 100px; height: 125px;  text-align: center; border-radius: 10px;}
	
	.sampleName {display:block; margin-top:10px; margin-left: 5px; width:82px;}
	.sampleConc {display:inline-block; margin-top: 0px; margin-left: 5px; margin-right: 0px; width:37px;}
	.sampleMW{display:inline-block; margin-top: 0px; margin-left: 0px; margin-right: 8px; width:37px;}
	
	.ui-icon.white { background-image: url("{{ url_for('wellPlate.static', filename='jquery/ui/css/images/ui-icons_ffffff_256x240.png')}}"); }

	li .selecthandle { background: #ddddf5; position: relative; left: 0; top: 0; bottom: 0; padding:0px; }
	.ui-selecting .selecthandle { background: pink; }
	.ui-selected .selecthandle { background: pink; }
	select {display: block; margin: 3px; font-size: x-small; width:90px;}
	</style>
	<script>
		WEB_SOCKET_SWF_LOCATION = "{{ url_for('wellPlate.static', filename='WebSocketMain.swf')}}";
		WEB_SOCKET_DEBUG = true;
		
		$.widget( "custom.catcomplete", $.ui.autocomplete, {
			_renderMenu: function( ul, items ) {
				var that = this,
				currentCategory = "";
				$.each( items, function( index, item ) {
					if ( item.category != currentCategory ) {
						ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
						currentCategory = item.category;
					}
					that._renderItemData( ul, item );
				});
			}
		});
		
		// socket.io specific code
		var socket = io.connect('/wellplates');
		var globalepn;
		var globalplate;
		var globalbeamline = 'None';
                //var alive = true;
		
		socket.on('connect', function(){
			socket.emit('connect')
		});
		
		socket.on('message',function(message){
			alert(message);
		})

                socket.on('beamline', function(beamline){
                    if (beamline !=null){
                       globalbeamline = beamline;
                    } else {
                        globalbeamline = 'None';
                    }
                });
	
                socket.on('disconnect', function(){
		    alert('Server has died. Refresh browser.');
		});

		socket.on('epn', function(epn){
			if ('{{epn}}' != '' && '{{epn}}' != epn) {
				socket.emit('changeepn','{{epn}}')
			} else {
				loggedinepn = epn;
				globalepn = epn;
				$("#epnTitle").html('Current USER/EPN: ' + globalepn);
				if (epn != undefined && '{{plate}}' != '')
				{
					$("#platename").val('{{plate}}');
					socket.emit('load',globalepn,'{{plate}}');
				}
			}
		});
		
		socket.on('loadlist', function (epnlist, beamlinelist) {
			globalplatelist = [];
			
			for (var epn in epnlist) {
				epnlist[epn].forEach(function(s){
					if (JSON.stringify(globalplatelist).indexOf(JSON.stringify({label:s,category:epn})) <0){	
						globalplatelist.push({label:s,category:epn})
					}
				})
			};
			
			for (var epn in beamlinelist) {
				beamlinelist[epn].forEach(function(e){
					if (JSON.stringify(globalplatelist).indexOf(JSON.stringify({label:e,category:epn})) <0){
						globalplatelist.push({label:epn+':'+e,category:"Beamline",value:e})
					}
				})
			};
			$( "#platename" ).catcomplete( "option", "source", globalplatelist);
		});
		
		socket.on('shares', function(shares){
			$("#shared-list").html('');
			shares.forEach(function(s) { $("#shared-list").html($("#shared-list").html() + '<li class="ui-widget-content">'+s+'</li>')});
		});
		
		socket.on('platedata', function(epn,plate,data){
			
			globalepn = epn;
			globalplate = plate;
			
			console.log('load:' + globalepn + " " + globalplate);
			
			$("#qrimage").attr('src','/wellplates/qrcode/' + epn + '/' + plate);
			$("#qrimagelink").attr('href','/wellplates/qrcode/' + epn + '/' + plate);
			
			$(".sampleName").each(function(index){
				$(this).val(data.sampleNames[index]).change();
			});
			$(".sampleConc").each(function(index){
				$(this).val(data.sampleConc[index]).change();
				//sampleColour($(this.parentNode.parentNode),data.sampleConc[index]);
			});
			$(".sampleMW").each(function(index){
				$(this).val(data.sampleMW[index]).change();
				//sampleColour($(this.parentNode.parentNode),data.sampleConc[index]);
			});
			$(".washType").each(function(index){
				$(this).val(data.washType[index]).change();
			});
			$(".sampleType").each(function(index){
				$(this).val(data.sampleType[index]).change();
				//sampleTypeColour($(this.parentNode),data.sampleType[index]);
			});
			
			$(".sortableOrder li").each(function(){
				num = parseInt($(this).attr("id").split("_")[1]);
				if (data.sampleInclude[num] == 1){
					$(this).addClass("ui-selected").css("border","1px solid rgb(255,100,0)");
					$(this).find(".sortOrderCell").addClass("selectedOrderCell");
				}
				else{
					$(this).removeClass("ui-selected").css("border","");
					$(this).find(".sortOrderCell").removeClass("selectedOrderCell");
				}
			});
			resortSortableOrder(data.sampleOrder);
						
		});
		function isNumberKey(evt,id) {
			var charCode = (evt.which) ? evt.which : event.keyCode;
		        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
				$('#'+id).css("background","rgb(255,0,0)");
				setTimeout(function(){$('#'+id).css("background","rgb(255,255,255)")},200);
				return false;
			} else if (charCode == 46) {
				if ($.inArray('.',$('#'+id).val()) == -1 ) {
					return true;	
				} else {
					$('#'+id).css("background","rgb(255,0,0)");
					setTimeout(function(){$('#'+id).css("background","rgb(255,255,255)")},200);
					return false;
				}
				
			} else {
				return true;
			}      
		};
		function sampleColour(target, value){
			target.css({background: "hsl(120,50%,"+Math.max((80-(value)*7),10)+"%)"})
		}

		function sampleTypeColour(target, value){
			switch (value) {
				case "-1":
					target.css({background: "hsl(120,0%,92%)"});
					$(".ui-icon-arrow-4").removeClass("white");
					break;
				case "1":
					conc = target.children(".sampleConc").val();
					if (conc == '') {conc = 1};
					sampleColour(target,conc);
					$(".ui-icon-arrow-4").addClass("white");
					break;
				case "0":
					target.css({background: "hsl(190,50%,50%)"});
					$(".ui-icon-arrow-4").addClass("white");
					break;
				case "2":
					target.css({background: "hsl(200,50%,40%)"});
					$(".ui-icon-arrow-4").addClass("white");
					break;
				}
		}
		
		function resortSortableOrder(order){
			if (order == undefined){
				order = [];
				for(i=0;i<96;i++){order.push(i)};
			}
			
			if (order.length < 96){
				missing = [];
				for (i=0;i<96;i++){
					if (order.indexOf(i)==-1){
						missing.push(i);
					}
				}
				order.push.apply(order, missing);
			}
			
			for(j=0;j<8;j++){
				for(i=11;i>=0;i--){
					currentSort = $("#sortOrder_"+order[i+j*12]);
					locationSort = $("#sortableOrderCol_" + j + " li:eq(0)");
					if (currentSort.attr("id") != locationSort.attr("id")){
						if ($("#sortableOrderCol_" + j + " li").length == 0){
							currentSort.appendTo($("#sortableOrderCol_" + j));
						}
						else{
							currentSort.insertBefore(locationSort);
						}
					}
				}	
			}
		}
		
		function harvestData(){
			
			var sampleNames = new Array();
			var sampleConc = new Array();
			var sampleMW = new Array();
			var sampleType = new Array();
			var washType = new Array();
			var sampleOrder = new Array();
			var sampleIncludeTemp = new Array();
			var sampleInclude = new Array();
			
		
			$(".sampleName").each(function(index){
				sampleNames.push($(this).val());
			});
			$(".sampleConc").each(function(index){
				if ($(this).val() == '' && sampleNames[index] != ''){
                                      conc = 1;
                                } else {
                                      conc = $(this).val();
                                }
                                sampleConc.push(conc);
			});
			$(".sampleMW").each(function(index){
				if ($(this).val() == '' && sampleNames[index] != ''){
                                      MW = 1;
                                } else {
                                      MW = $(this).val();
                                }
                                sampleMW.push(MW);
			});
			$(".sampleType").each(function(index){
				sampleType.push($(this).val());
			});
			$(".washType").each(function(index){
				washType.push($(this).val());
			});
			$(".sortableOrder li").each(function(index){
				sampleOrder.push($(this).attr('id').split("_")[1]);
				sampleIncludeTemp.push($(this).hasClass('ui-selected'));
			});
			
			sampleIncludeTemp.forEach(function(element,key){sampleInclude[sampleOrder[key]] = element});
			
			var data = {};
			data['platename'] = globalplate;
			data['sampleNames'] = sampleNames;
			data['sampleConc'] = sampleConc;
			data['sampleMW'] = sampleMW;
			data['sampleType'] = sampleType;
			data['washType'] = washType;
			data['sampleOrder'] = sampleOrder;
			data['sampleInclude'] = sampleInclude;
			
			return data;
		}
		
		function savePlate(){
			platename = $("#platename").val()
			if (platename == ''){
				alert('No name given.');
				return -1;
			}
			var filenames = $('#platename').catcomplete( "option", "source");
			if (filenames.indexOf(platename)!=-1){
				ok = confirm('Overwrite ' + platename + '?');
				if (ok == false){
					return -1;
				}
			}
			globalplate = platename;
			
			$("#qrimage").attr('src','/wellplates/qrcode/' + globalepn + '/' + platename);
			$("#qrimagelink").attr('href','/wellplates/qrcode/' + globalepn + '/' + platename);
				
			socket.emit('save', harvestData());
			return 0;
		}
		
		function selectSelectable(elementtoselect,selectable){
			$(".ui-selected", selectable).not(elementtoselect).removeClass("ui-selected").addClass("ui-unselecting");
			elementtoselect.addClass('ui-selecting');
			selectable.data("selectable")._mouseStop(null);
		}
		
		$(function() {
			
			$(document).ready(function(){
				var alphabet = ("ABCDEFGHIJKLMNOPQRSTUVWXYZ").split("");
				for (i=0;i<96;i++)
				{
					well = alphabet[Math.floor(i/12)] + (i%12+1);
					$("#sortOrderCell_"+i).text(well);
				}

			});
			
			$('.sampleName').focus(function() {
				selectSelectable($(this).parent(),$("#sortable"));
				});
			$('.sampleConc').focus(function() {
				selectSelectable($(this).parent(),$("#sortable"));
				});
			$('.sampleMW').focus(function() {
				selectSelectable($(this).parent(),$("#sortable"));
				});
			$('.sampleType').focus(function() {
				selectSelectable($(this).parent(),$("#sortable"));
				});
			$('.washType').focus(function() {
				selectSelectable($(this).parent(),$("#sortable"));
				});
			$( "#sortableHead, #sortableRowNames" ).sortable({
				items: "li:not(.ui-state-disabled)"
				});
					
			$( "#sortable" ).sortable({
				items: "li:not(.ui-state-disabled)",
				handle: ".movehandle"
				}).selectable();

			$( ".sortableOrder" ).sortable({
				connectWith: ".connectSortable",
				start: function(event, ui) {
					ui.item.data('startTarget', event.target);
				},
				receive: function(ev,ui){
					startCol = parseInt($(ui.item.data('startTarget')).attr("id").split("_")[1]);
					endCol = parseInt($(this).attr("id").split("_")[1]);
					if (startCol > endCol){
						for (i=endCol; i < startCol; i++){
							$("#sortableOrderCol_" + i + " li:eq(12)").insertBefore($("#sortableOrderCol_" + (i+1) + " li:eq(0)"));
						}
					};
					if (startCol < endCol){
						for (i=startCol+1; i <= endCol; i++){
							$("#sortableOrderCol_" + i + " li:eq(0)").insertAfter($("#sortableOrderCol_" + (i-1) + " li:eq(10)"));
						}
					}
				}
				}).selectable({
				selected: function(event,ui) {
					$(ui.selected).css("border","1px solid rgb(255,100,0)");
					$(ui.selected).children(".sortOrderCell").addClass("selectedOrderCell");
				},
				unselected: function(event,ui) {
					$(ui.unselected).css("border","");
					$(ui.unselected).children(".sortOrderCell").removeClass("selectedOrderCell");
				}
				});
			
			$(".removeSelect").removeClass('ui-selectee');
			
			
			$(" .sampleName").change(function(ev){
				parsedName = $(ev.target).val().replace(/\./g,'p');
				parsedName = parsedName.replace(/\ /g,'_');
				$(ev.target).val(parsedName);
			});
			//$( "#sortable, #sortableHead, #sortableRowNames" ).disableSelection();
			
			$( ".sampleType").change(function(ev){	
				sampleTypeColour($(ev.target.parentNode),$(ev.target).val());
				if ($(ev.target).val() == 0 || $(ev.target).val() == 2)
				{
					
					$(ev.target.parentNode).children(".sampleConc").val("").prop('disabled',true);
					$(ev.target.parentNode).children(".sampleMW").val("").prop('disabled',true);
				}
				else
				{
					$(ev.target.parentNode).children(".sampleConc").prop('disabled',false);
					$(ev.target.parentNode).children(".sampleMW").prop('disabled',false);
				}
				
			});
			$( ".sampleConc").change(function(ev){	
				if ($(ev.target).val() !='')
				{
					$(ev.target.parentNode).children(".sampleType").prop('selectedIndex',3).change();
					sampleColour($(ev.target.parentNode),ev.target.value);
				};
				
			});
			$( ".sampleMW").change(function(ev){	
				if ($(ev.target).val() !='')
				{
					$(ev.target.parentNode).children(".sampleType").prop('selectedIndex',3).change();
				};
				
			});
			$( "#save").click(function(){
				if (savePlate() == -1){
					alert('Plate not saved');	
				}
			});
			$("#load").click(function(){
				knownFlag = 0;
				globalplatelist.forEach(function(e){
					if(e.label == $("#platename").val()){
						globalplate = e.label;
						globalepn = e.category;
						knownFlag = 1;
					} else {
					        if(e.value == $("#platename").val()){
							globalplate = e.value;
							globalepn = e.label.split(':')[0];
							knownFlag = 1;
						}
					}
                                        
				});
				if (knownFlag == 0) {
					alert("Unknown scan");
					return
				}
				socket.emit("load",globalepn,globalplate);
			});
			$("#delete").click(function(){
				socket.emit("delete",globalepn,globalplate);
				
				$(".sampleName").each(function(index){
					$(this).val('').change();
				});
				$(".sampleConc").each(function(index){
					$(this).val('').change();
					//sampleColour($(this.parentNode.parentNode),data.sampleConc[index]);
				});
				$(".sampleMW").each(function(index){
					$(this).val('').change();
					//sampleColour($(this.parentNode.parentNode),data.sampleConc[index]);
				});
				$(".washType").each(function(index){
					$(this).val('').change();
				});
				$(".sampleType").each(function(index){
					$(this).val('').change();
					//sampleTypeColour($(this.parentNode),data.sampleType[index]);
				});
				var range = new Array();
				for(var i = 0; i < 95; i++) {
					range.push(i);
				}
				
				resortSortableOrder(range);
				
				$("#platename").val("");
				
			});
			$("#share").button().click(function(){
				$( "#share-popup" ).dialog( "open" );
			});
			$("#openqrprinter").button().click(function(){
				$("#qr-list").html("");
				globalplatelist.forEach(function(s) { $("#qr-list").html($("#qr-list").html() + '<li class="ui-widget-content" style="margin: 1px; font-size: 1em; float: left; text-align: center; height: 30px; width:200px">'+s.label+'<img src=/wellplates/qrcode/' + s.category + '/' + s.label + ' height=30px style="vertical-align: middle"> </li>')});
				$( "#qr-printer" ).dialog( "open" );
				
			});
			$("#run").click(function(){console.log( '{{test}}' )});
			$("#initialise").button().click(function(){
				if (globalbeamline == 'SAXS'){
					if (savePlate() == 0){
						socket.emit("initialise",globalepn, globalplate);
 					};
				} else {
					alert('Not at beamline. Function disabled');
				}
			});
			$("#runall").button().click(function(){
				if (globalbeamline == 'SAXS'){
					if (savePlate() == 0){
						socket.emit("runall",globalepn, globalplate);
					};
				} else {
					alert('Not at beamline. Function disabled');
				}
			});
			$("#runselected").button().click(function(){
				if (globalbeamline == 'SAXS'){
					if (savePlate() == 0){
						socket.emit("runselected",globalepn, globalplate);
					}
				} else {
					alert('Not at beamline. Function disabled');
				}
			});
			$("#stop").button().click(function(){
				if (globalbeamline == 'SAXS'){
				    //socket.emit("stop");
				} else {
					alert('Not at beamline. Function disabled');
				}
			});
			$( "#radio" ).buttonset();
			$( "#tab2tools").buttonset();
			$( "#tab2btools").buttonset();
			$(".deselectbutton").button().click( function(){
				col = $(this).attr("id").split("_")[1];
				$("#sortableOrderCol_" + col).children().removeClass("ui-selected").css("border","");
				$("#sortableOrderCol_" + col).find(".selectedOrderCell").removeClass("selectedOrderCell");
			});
			$( "#FillBottomColumn" ).button({disabled : false})
				.click(function(){
					firstSelect = $(".well").filter(".ui-selected");
					name = (firstSelect.children('.sampleName').val());
					conc = (firstSelect.children('.sampleConc').val());
					MW = (firstSelect.children('.sampleMW').val());
					type = (firstSelect.children('.sampleType').val());
					wash = (firstSelect.children('.washType').val());
					wellNumber = firstSelect.index();
					columnNumber = wellNumber%12;
					rowNumber = Math.floor(wellNumber/12);
					for (i=rowNumber+1;i<8;i++)
					{
						$(".sampleName").eq(i*12+columnNumber).val(name).change();
						$(".sampleType").eq(i*12+columnNumber).val(type).change();
						$(".sampleConc").eq(i*12+columnNumber).val(conc).change();
						$(".sampleMW").eq(i*12+columnNumber).val(MW).change();
						$(".washType").eq(i*12+columnNumber).val(wash).change();
					}
			});
			$( "#FillEndRow" ).button({disabled : false})
				.click(function(){
					firstSelect = $(".well").filter(".ui-selected");
					name = (firstSelect.children('.sampleName').val());
					conc = (firstSelect.children('.sampleConc').val());
					MW = (firstSelect.children('.sampleMW').val());
					type = (firstSelect.children('.sampleType').val());
					wash = (firstSelect.children('.washType').val());
					wellNumber = firstSelect.index();
					columnNumber = wellNumber%12;
					rowNumber = Math.floor(wellNumber/12);
					$(".sampleName").slice(wellNumber+1,rowNumber*12+12).each(function(index){
						$(this).val(name).change();
					});
					$(".sampleType").slice(wellNumber+1,rowNumber*12+12).each(function(index){
						$(this).val(type).change();
					});
					$(".sampleConc").slice(wellNumber+1,rowNumber*12+12).each(function(index){
						$(this).val(conc);
						sampleColour($(this.parentNode),$(this).val());
					});
					$(".sampleMW").slice(wellNumber+1,rowNumber*12+12).each(function(index){
						$(this).val(MW);
						sampleColour($(this.parentNode),$(this).val());
					});
					$(".washType").slice(wellNumber+1,rowNumber*12+12).each(function(index){
						$(this).val(wash).change();
					});
			});
			$( "#FillAllColumns" ).button({disabled : false})
				.click(function(){
					for (i=0;i<12;i++)
					{
						name = ($(".sampleName").eq(i).val());
						conc = ($(".sampleConc").eq(i).val());
						MW   = ($(".sampleMW").eq(i).val());
						type = ($(".sampleType").eq(i).val());
						wash = ($(".washType").eq(i).val());
						for(j=1;j<8;j++)
						{
							$(".sampleName").eq(j*12+i).val(name).change();
							$(".sampleType").eq(j*12+i).val(type).change();
							$(".sampleConc").eq(j*12+i).val(conc).change();
							$(".sampleMW").eq(j*12+i).val(MW).change();
							$(".washType").eq(j*12+i).val(wash).change();
						}
					}
			});
			$( "#FillAllRows" ).button({disabled : false})
				.click(function(){
					for (i=0;i<7;i++)
					{
						name = ($(".sampleName").eq(i*12).val());
						conc = ($(".sampleConc").eq(i*12).val());
						MW = ($(".sampleMW").eq(i*12).val());
						type = ($(".sampleType").eq(i*12).val());
						wash = ($(".washType").eq(i*12).val());
						$(".sampleName").slice(i*12+1,(i+1)*12).each(function(index){
							$(this).val(name).change();
						});
						$(".sampleType").slice(i*12+1,(i+1)*12).each(function(index){
							$(this).val(type).change();
						});
						$(".sampleConc").slice(i*12+1,(i+1)*12).each(function(index){
							$(this).val(conc).change();
						});
						$(".sampleMW").slice(i*12+1,(i+1)*12).each(function(index){
							$(this).val(MW).change();
						});
						$(".washType").slice(i*12+1,(i+1)*12).each(function(index){
							$(this).val(wash).change();
						});
					}
			});
			$( "#FillAll" ).button({disabled : false})
				.click(function(){
					name = ($(".sampleName").val());
					conc = ($(".sampleConc").val());
					MW = ($(".sampleMW").val());
					type = ($(".sampleType").val());
					wash = ($(".washType").val());
					console.log(wash);
					if (name=='' && conc=='' && type==-1 && wash==0) { return };
					$(".sampleName").each(function(index){
						$(this).val(name).change();
					});
					$(".sampleType").each(function(index){
						$(this).val(type).change();
					});
					$(".sampleConc").each(function(index){
						$(this).val(conc).change();						
					});
					$(".sampleMW").each(function(index){
						$(this).val(MW).change();						
					});
					$(".washType").each(function(index){
						$(this).val(wash).change();
					});
					
			});
			$( "#ClearAll" ).button({disabled : false})
				.click(function(){
					$(".sampleName").each(function(index){
						$(this).val('').change();
					});
					$(".sampleConc").each(function(index){
						$(this).val('').change();
					});
					$(".sampleMW").each(function(index){
						$(this).val('').change();
					});
					$(".sampleType").each(function(index){
						$(this).val('').change();
					});
					$(".washType").each(function(index){
						$(this).val('').change();
					});
			});
			$( "#FillSelected" ).button({disabled : false})
				.click(function(){
					name = ($(".well").filter(".ui-selected").children('.sampleName').val());
					conc = ($(".well").filter(".ui-selected").children('.sampleConc').val());
					MW = ($(".well").filter(".ui-selected").children('.sampleMW').val());
					type = ($(".well").filter(".ui-selected").children('.sampleType').val());
					wash = ($(".well").filter(".ui-selected").children('.washType').val());
										
					$(".well").filter(".ui-selected").children('.sampleName').each(function(index){
						$(this).val(name).change();
					});
					$(".well").filter(".ui-selected").children('.sampleType').each(function(index){
						$(this).val(type).change();
					});
					$(".well").filter(".ui-selected").children('.sampleConc').each(function(index){
						$(this).val(conc).change();
					});
					$(".well").filter(".ui-selected").children('.sampleMW').each(function(index){
						$(this).val(MW).change();
					});
					$(".well").filter(".ui-selected").children('.washType').each(function(index){
						$(this).val(wash).change();
					});
			});	
			$( "#SortDeselect" ).button()
				.click(function(){
					$(".sortableOrder li").removeClass("ui-selected").css("border","");
					$(".sortableOrder li").find(".selectedOrderCell").removeClass("selectedOrderCell");
			});
			
			$( "#tabs" ).tabs({collapsible: true}).find( ".ui-tabs-nav" ).sortable({ axis: "x" });
			
			$("#scanplate").click(function(){
				sampleNames = [];
				sampleType = [];
				sampleConc = [];
				$("#save").focus();
				$(".sampleName").each(function(index){
					sampleNames.push($(this).val());
				});
				$(".sampleType").each(function(index){
					sampleType.push($(this).val());
				});
				$(".sampleConc").each(function(index){
					sampleConc.push($(this).val());
				});
				for (i=0;i<96;i++)
				{
					$("#sortOrderName_"+i).text(sampleNames[i]);
					sampleTypeColour($("#sortOrder_"+i),sampleType[i]);
					if (sampleType[i] == "1"){
						sampleColour($("#sortOrder_"+i),sampleConc[i]);
					};
					if (sampleConc[i] > 0){
						$("#sortOrderConc_"+i).text(sampleConc[i]);
						$("#sortOrderConcUnit_"+i).text(" mg/ml");
					};
					
				}
			});
			$("#SortSortable").click(function(){
				$(".sortableOrder").selectable("disable");
				$(".sortableOrder").sortable("enable");
				$(".sortableOrder").css('opacity', 1);
			});
			$("#SortSelectable").click(function(){
				$(".sortableOrder").selectable("enable");
				$(".sortableOrder").sortable("disable");
				$(".sortableOrder").css('opacity', 1);
			});
			$("#platename").catcomplete({minLength:0})
				.focus(function(){$(this).catcomplete('search', $(this).val())});
			$("#userepn").change(function(){
				socket.emit('changeepn',$(this).val());
			});
			
			$( "#share-popup" ).dialog({
				autoOpen: false,
				modal: true,
				width: 350,
				buttons: {
					"Add User": function(){
						socket.emit('addshare',globalepn,globalplate,$('#share-email').val());
					},
					"Delete Selected" : function(){
						deleteArray = [];
						$.each($("#shared-list").children(".ui-selected"), function(index, value){ deleteArray.push(value.innerText)});
						$("#shared-list").children(".ui-selected").remove();
						socket.emit('deleteshare', globalepn, globalplate, deleteArray);
					},
					"Exit": function(){
						$(this).dialog("close");
					}
				}
			});
			$(function() {
				$( "#shared-list" ).selectable();
			});
			$(function() {
				$( "#qr-list" ).selectable();
			});
			$( "#qr-printer" ).dialog({
				autoOpen: false,
				modal: true,
				width: 600,
				buttons: {
					"Print": function(){
						$('#qr-printer').printThis({printContainer: false});
					}
				}
			});
		});
	</script>
</head>
<body>

<H7>Well Plate Scan</H7>
<H8 id="epnTitle" style="margin-left: 20px;"></H8><br>
<div style="margin: 10px 0px;">
<span id="topbar" class="ui-widget-header ui-corner-all" style="padding: 22px 10px;">
	<!--<label for="userepn">Username_EPN</label>
	<input id="userepn"></input>	-->
	<label for="platename">Plate Name</label>
	<input id="platename"></input>
	<button id="save">Save</button>
	<button id="load">Load</button>
	<button id="delete">Delete</button>
	<!--<button id="StopTop">Stop</button>-->
	<button id="share" class="share-button">Share</button>
	<a id="qrimagelink" href="{{ rel }}qrcode"><img id="qrimage" src="{{ rel }}qrcode" height=50px style="vertical-align: middle"></a>
	<button id="openqrprinter">QR Printer</button>
</span>
</div>

<div class="wellPlates" style="width:1500px">

<div id="tabs">
	<ul>
		<li><a id="sampleplate" href="#tabs-1">Sample Plate</a></li>
		<li><a id="scanplate" href="#tabs-2">Scan Plate</a></li>
	</ul>
	
	<div id="tabs-1" style="height:1200px">
	
		<div id="selecttools">
			<button id="FillSelected" class="fillbuttonselect">Fill Selected</button>
			<button id="FillEndRow" class="fillbutton">Fill to End of Row</button>
			<button id="FillBottomColumn" class="fillbutton">Fill to Bottom of Column</button>
			<button id="FillAllRows" class="fillbutton">Fill All Rows</button>
			<button id="FillAllColumns" class="fillbutton">Fill All Columns</button>
			<button id="FillAll" class="fillbutton">Fill All</button>
			<button id="ClearAll" class="fillbutton">Clear All</button>
		</div>	
	
		<ul id="sortableHead">
			<li class="ui-state-default ui-state-disabled"></li>
			<li class="ui-state-default ui-state-disabled">1</li>
			<li class="ui-state-default ui-state-disabled">2</li>
			<li class="ui-state-default ui-state-disabled">3</li>
			<li class="ui-state-default ui-state-disabled">4</li>
			<li class="ui-state-default ui-state-disabled">5</li>
			<li class="ui-state-default ui-state-disabled">6</li>
			<li class="ui-state-default ui-state-disabled">7</li>
			<li class="ui-state-default ui-state-disabled">8</li>
			<li class="ui-state-default ui-state-disabled">9</li>
			<li class="ui-state-default ui-state-disabled">10</li>
			<li class="ui-state-default ui-state-disabled">11</li>
			<li class="ui-state-default ui-state-disabled">12</li>
		</ul>
		
		<ul id="sortableRowNames">
			<li class="ui-state-default ui-state-disabled">A</li>
			<li class="ui-state-default ui-state-disabled">B</li>
			<li class="ui-state-default ui-state-disabled">C</li>
			<li class="ui-state-default ui-state-disabled">D</li>
			<li class="ui-state-default ui-state-disabled">E</li>
			<li class="ui-state-default ui-state-disabled">F</li>
			<li class="ui-state-default ui-state-disabled">G</li>
			<li class="ui-state-default ui-state-disabled">H</li>
		</ul>
		<ul id="sortable">
			{% for well in wells %}
				<li id="{{ well }}" class="ui-state-default well">
						<div class='selecthandle ui-corner-top'><span class='ui-icon ui-icon-circlesmall-plus'></span></div>
						<input type='text' class=sampleName placeholder="sample name">
						<!--<label for="spinner" size='10'>Select a value:</label> -->
						
							<input id="{{ well}}_conc" class="sampleConc" style="margin-top: 0; width: 35px;" placeholder="conc" onkeypress="return isNumberKey(event,'{{ well}}_conc')">
							<input id="{{ well}}_mw" class="sampleMW" style="margin-top: 0; width: 35px" placeholder="MW" onkeypress="return isNumberKey(event,'{{ well}}_mw')">
						
						<select id="{{ well }}_sampleType" class="sampleType">
								<option disabled selected value = "-1">Type</option>
								<option value = "-1">None</option>
								<option value = "0">Buffer</option>
								<option value = "1">Sample</option>
								<option value = "2">Repeat Buffer</option>
						</select>
						<select class="washType">
								<option disabled selected value = "0">Wash Type</option>
								<option value = "0">None</option>
								<option value = "1">Water</option>
								<option value = "2">Protein Killer</option>
								<option value = "3">Detergent</option>
						</select>
						<div class='movehandle ui-corner-bottom'><span class='ui-icon ui-icon-arrow-4'></span></div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div id="tabs-2" style="height:1500px">
		
		<div>
			<button id="initialise" class="run-button">Initialise</button>
                        <button id="runall" class="run-button">Run All</button>
			<button id="runselected" class="run-button">Run Selected</button>
			<button id="stop" class="stop-button">Stop</button>
		</div>
		
		</br>
		
		<div id="tab2tools" style="float: left;">
			<input type="radio" id="SortSortable" name="tab2tools" checked="checked"/><label for="SortSortable">Reorder</label>
			<input type="radio" id="SortSelectable" name="tab2tools" /><label for="SortSelectable">Select</label>
		</div>
		
		<div>
			<button id="SortDeselect" style="margin-bottom: 10px">Deselect All</button>
		</div>
		
		<button id="deselectCol_0" class="deselectbutton" style="margin-left: 30px; font-size: 0.5em;">Deselect Column</button>
		{% for col in range (1,8) %}
			<button id="deselectCol_{{col}}" class="deselectbutton" style="font-size: 0.5em;">Deselect Column</button>
		{% endfor %}
		<br/>
				
		{% for col in range (0,8) %}
			<ul id="sortableRowNamesOrder_{{col}}" class="sortableRowNamesOrder">
				{% for num in range(col*12+1,col*12+13) %}
				<li class="ui-state-default ui-state-disabled">{{num}}</li>
				{% endfor %}
			</ul>
			<ul id="sortableOrderCol_{{col}}"  class="sortableOrder connectSortable">
				{% for num2 in range(col*12,(col+1)*12) %}
					<li id=sortOrder_{{ num2 }} class="ui-state-default">
						<label id=sortOrderCell_{{ num2 }} class='sortOrderCell removeSelect'></label>
						<label id=sortOrderConc_{{ num2 }} class='sortOrderConc removeSelect'></label>
						<label id=sortOrderConcUnit_{{ num2 }} class='sortOrderConcUnit removeSelect'></label>
						<br class='removeSelect'/>
						<label id=sortOrderName_{{ num2 }} class='sortOrderName removeSelect'></label>
					</li>
				{% endfor %}
			</ul>
			{% if col != 7 %}
				<img src="{{ url_for('wellPlate.static', filename='arrow.png')}}" alt="arrow" height="520" width="50" style="margin-left: 4px; margin-top: 10px; float: left;">
			{% endif %}
		{% endfor %}
		
	</div>
</div>

<div id="share-popup">
	<ol id="shared-list">
	</ol>
	<label for="share-email">Email: </label><input id="share-email">
</div>

<div id="qr-printer">
	<ol id="qr-list">
	</ol>
</div>

</div>

</body>
</html>
